{% extends "base.html" %}

{% block breadcrumb %}
<li class="breadcrumb-item-active">Finance</li>
{% endblock breadcrumb %}

{% block content %}
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Expense</th>
            <th>Amount</th>
            <th>Last Payment</th>
            <th>Next Payment on</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>
                {{ expense.name }}
            </td>
            <td>
                {{ expense.amount }}
            </td>
            <td class="align-middle">0</td>
            <td class="align-middle">0</td>
            <td class="align-middle">
                <button type="button" class="btn btn-outline-primary">Modify</button>
                <button type="button" class="btn btn-outline-danger">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}